.container {
  display: grid;
  height: 70px;
  width: 100vw;
  padding: 10px 10px;
  background-color: var(--dark);
  grid-template-areas: "logo input";
  align-content: center;
}
h1 {
  font-size: 1.8em;
  grid-area: logo;

  /** TEXT GRADIENT */
  color: #ffffff;
  background-image: -webkit-linear-gradient(270deg, #ffffff 55%, #17bebb 39%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.search-container {
  position: relative;
  padding-left: 30px;
  grid-area: input;
  height: 100%;
}
.search {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  padding: 10px;
  box-shadow: rgba(250, 250, 250, 0.4) 0px 5px 15px;
}
span {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
button {
  background: transparent;
  border: none !important;
  font-size: 0;
}
form {
  padding: 0;
  margin: 0;
}
